{% extends 'base.html' %}

 <title>{% block title %}Home{% endblock title %}</title>

{% block content %}
            <div class="jumbotron jblight">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <h1 class="display-4">Welcome!</h1>
             </div>
                <div class="col-md-3">
                    <div class="admin-item-img">
                        <a href="/profile">
                            {% if current_user.user_image == '' %}
                                <img src="{{url_for('static',filename='user_profile_images/default.png')}}" height='50px;' width='50px'>
                            {% else %}
                            <img src="static/user_profile_images/{{current_user.user_image}}" class="admin-image rounded-circle">
                            {% endif %}
                        </a>
                    </div>
                    <a href="/profile">
                        <p class="member-item-user">{{current_user.username}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
            <div class="container">
                <div class="row m-3">
                        <div class="col-md-3">
                <a  href="/add_post" role="button" class="btn btn-lg btn-light w-100 btnhome me-1 mb-2"> <i class="icon-plus icons"></i> <br> Add new post</a>
            </div>
                        <div class="col-md-3">
                <a href="#" role="button" class="btn btn-lg btn-light w-100 btnhome me-1 mb-2"><i class="icon-bell icons"></i> <br>Notifications<span class="badge bg-danger">1</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="/profile" role="button" class="btn btn-lg btn-light w-100 btnhome me-1 mb-2"><i class="icon-user icons"></i><br>Go to profile</a>
            </div>
            <div class="col-md-3">
                <a href="/" role="button" class="btn btn-lg btn-light w-100 btnhome me-1 mb-2"><i class="icon-home icons"></i> <br>Go to home page</a>
            </div>
        </div>
     </div>
      
{% endblock content %}