{% extends 'base.html' %}
 <title>{% block title %}Register{% endblock title %}</title>

{% block content %}

        <div class="jumbotron bg-none">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <h1 class="display-4 text-white">Register</h1>
            </div>
        </div>
    </div>
</div>

        
    <div class="container text-white">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form class="form-horizontal" role="form" method="POST" action="/register_user">
                <input type="hidden" name="_token" value="">
                <div class="mb-3">
                    <label for="name" class="col-md-4 form-label">Name</label>

                    <div class="col-md-6">
                        <input id="name" type="text" class="form-control" name="name" value="" required autofocus>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="name" class="col-md-4 form-label">Username</label>

                    <div class="col-md-6">
                        <input id="username" type="text" class="form-control" name="username" value="" required autofocus>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="col-md-4 form-label">E-Mail Address</label>

                    <div class="col-md-6">
                        <input id="email" type="email" class="form-control" name="email" value="" required>

                    </div>
                </div>

                <div class="mb-3">
                    <label for="password" class="col-md-4 form-label">Password</label>

                    <div class="col-md-6">
                        <input id="password" type="password" class="form-control" name="password" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password-confirm" class="col-md-4 form-label">Confirm Password</label>

                    <div class="col-md-6">
                        <input id="password_confirmation" type="password" class="form-control" name="password_confirmation" required>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="col-md-6 col-md-offset-4">
                        <button type="submit" class="btn btn-primary btnpoint">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %} {% endblock js %}