{% extends 'base.html' %}

 <title>{% block title %}Home{% endblock title %}</title>

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
            {% for category,message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <strong>Message:</strong> {{ message}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</div>

<div class="container">
  
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" style="border-radius:30px;">
                <div class="category">
                    {% if i.category.category_type == "SPACE" %}
                        <a class="yellow" href="/filter_categories/{{i.category.id}}">{{i.category.category_type}}</a>

                    {% elif i.category.category_type == "GENERAL" %}    
                        <a class="urple" href="/filter_categories/{{i.category.id}}">{{i.category.category_type}}</a>

                    {% elif i.category.category_type == "YOUTUBE" %}    
                        <a class="magenta" href="/filter_categories/{{i.category.id}}">{{i.category.category_type}}</a>

                    {% elif i.category.category_type == "LIFESTYLE" %}    
                        <a class="quamarine" href="/filter_categories/{{i.category.id}}">{{i.category.category_type}}</a>

                    {% elif i.category.category_type == "PEOPLE" %}    
                        <a class="blue" href="/filter_categories/{{i.category.id}}">{{i.category.category_type}}</a>        
                    {% endif %} 
                </div> 
                    {% if i.video_func == POST_TYPE.VIDEO %}
                    <video autoplay="autoplay" controls="controls" preload="preload" style=" border-top-left-radius: 30px; border-top-right-radius: 30px;">
                        <source src="/static/all_post/{{i.post_data}}" type="video/mp4"></source>
                    </video>
                    {% elif i.video_func == POST_TYPE.IMAGE %}
                        <img src="/static/all_post/{{i.post_data}}" style=" border-top-left-radius: 30px; border-top-right-radius: 30px;">

                    {% elif i.video_func == POST_TYPE.GIF %}  
                        <img src="/static/all_post/{{i.post_data}}" style=" border-top-left-radius: 30px; border-top-right-radius: 30px;">
                    {% endif %}
                <div>
                    <div class="card-body text-center  py-3">
                        <small class="me-3"><i class="icon-clock icons me-2"></i> {{i.show_datetime}} Posted ago</small>
                        <small><i class="icon-eye icons me-2"></i> 553</small>
                    <a href="/post_details/{{i.id}}">    
                        <h5 class="card-title" style="color:black;">{{i.post_title}}</h5>
                        <p class="card-text" style="color:black;">{{i.post_description }}</p>
                    </a>    
                    </div>

              <div class="py-4 d-flex align-items-center">
                  {% if i.user_id==current_user.id %} <a class="author" href="/profile">{% endif %} 
                        {% if i.user.user_image == '' %}
                             <img src="{{url_for('static',filename='user_profile_images/default.png')}}" height='50px;' width='50px'>&nbsp;
                        {% else %}
                            <img class="avatar-xs img-fluid rounded-circle" src="/static/user_profile_images/{{i.user.user_image}}">&nbsp;       
                        {% endif %}
                    <div>
                        <small>
                            {{i.user.username}}
                        </small>
                    </div>
                </a>
                    <div class="card-like p-0">
                          <div class="d-flex align-items-center">
                            {% if i.check_like_unlike==True %}
                              <span  class="iconify" id="like_show{{i.id}}" onclick="heartid('{{i.id}}');" data-icon="ant-design:heart-filled" style="color: red; cursor:pointer;" data-width="35" data-height="35"></span>  
                              <span  class="iconify" id="unlike_hide{{i.id}}" onclick="heartid('{{i.id}}');" data-icon="ci:heart-fill" data-width="35" data-height="35" style="cursor:pointer;display:none"></span>
                            
                              {% else %}
                              <span  class="iconify" id="unlike_hide{{i.id}}" onclick="heartid('{{i.id}}');" data-icon="ci:heart-fill" data-width="35" data-height="35" style="cursor:pointer;"></span>
                              <span  class="iconify" id="like_show{{i.id}}" onclick="heartid('{{i.id}}');" data-icon="ant-design:heart-filled" style="color: red; cursor:pointer;display:none" data-width="35" data-height="35"></span>  

                            {% endif %}
                              <span id="like_count{{i.id}}">
                                {% if i.like_count %}  
                                    {{i.like_count}}
                                {% else %}
                                    {% with zero_count=0 %}
                                        {{zero_count}}
                                    {% endwith %} 
                                {% endif %}
                            </span>
                          </div>   
                    </div>
              </div>
            </div>
            </div>
        </div> 
    </div>

</div>

{% endblock content %}

{% block footer %}
    <footer class="blog-footer">
    <ul class="list-inline">
        
       <li class="list-inline-item"><a class="text-light" href="#">Sample Page 2</a></li>
        
       <li class="list-inline-item"><a class="text-light" href="#">Sample Page</a></li>
        
    </ul>
    <div class="text-muted foottxt"><p>© 2021 Tumblr Web Portfolio.</p></div>
</footer>
{% endblock footer %}
